@font-face {
  font-family: "Cardo";
  src: url("/public/fonts/Cardo%20Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eczar";
  src: url("/public/fonts/Eczar%20Regular.ttf") format("truetype");
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Avenir Next", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-content {
  min-height: 75vh; /* Viewport Height */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1,
h2 {
  font-family: "Eczar", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0; /* Removes default padding */
}
li {
  list-style-position: inside; /* Positions bullet points inside the list item */
}

.bold {
  font-weight: bold;
}

.feature-text {
  margin-left: 2;
  padding-left: 2;
}

.credentials-box {
  margin: 20px 0;
}
